.header {
  background: linear-gradient(90deg, #dc3545 0%, rgb(255, 0, 0) 35%, #dc3545 100%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  box-shadow: 0 0 5px 2px #9a0000;
}
.header__wrapper {
  max-width: 1440px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__general-information {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 50px;
}
.header__title {
  color: white;
  margin-left: 1vw;
}
