.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2vw;
}
.service__title {
  width: -moz-fit-content;
  width: fit-content;
  background-color: red;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.5em;
  box-shadow: 0 0 3px 0 #620000;
}
.service__empty-products {
  color: red;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

.table-of-products {
  width: 80%;
  background-color: #eeeded;
}
@media (max-width: 700px) {
  .table-of-products {
    width: 100%;
  }
}
.table-of-products__column {
  color: #3d3d3d;
}
.table-of-products__column--title {
  background-color: #b6b6b6;
  font-size: 1.2em;
}
.table-of-products__column--image {
  width: 30%;
  padding: 1vw;
}
.table-of-products__column--name {
  width: 50%;
}
.table-of-products__column--price {
  width: 20%;
  text-align: end;
  padding: 1vw;
}
.product {
  width: 100%;
  padding: 2vw;
  border-bottom: solid 1px black;
}
.product__image {
  max-width: 300px;
  max-height: 400px;
  height: 100%;
}
@media (min-width: 1700px) {
  .product__image {
    max-width: 500px;
    max-height: 600px;
  }
}
@media (max-width: 600px) {
  .product__image {
    max-width: 150px;
  }
}
.product__name {
  word-break: break-word;
}
.product__prise {
  color: red;
}
