.footer{
  background: linear-gradient(90deg, #dc3545 0%, rgb(255 0 0) 35%, #dc3545 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  padding: .5vw;
  box-shadow: 0 0 5px 2px #9a0000;
  height: 100px;


  &__wrapepr {
    max-width: 1440px;
    width: 1440px;
    background-color: #d63384;
  }
}